/* *** MY CHART */
.wrapChart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 280px;
  height: 340px;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.25);
  background-color: rgb(255, 255, 255);
  padding: 24px 20px 40px 20px;
}
@media screen and (min-width: 768px) {
  .wrapChart {
    width: 704px;
    height: 340px;
    padding: 24px 40px 40px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapChart {
    width: 928px;
  }
}
.wrapTitleChart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 236px;
  height: 26px;
}
@media screen and (min-width: 768px) {
  .wrapTitleChart {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-left: 4px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTitleChart {
    padding-left: 12px;
  }
}
.textChart {
  display: flex;
  color: rgb(36, 42, 55);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
}
.countChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: rgb(245, 247, 250);
  color: rgb(36, 42, 55);
  font-size: 12px;
  font-weight: 600;
  line-height: 3.16;
  text-align: left;
  text-transform: uppercase;
}
.wrapGraf {
  position: absolute;
  top: -174px;
  display: block;
}
