.libPage {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(246, 247, 251);
}
@media screen and (min-width: 768px) {
  .libPage {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.wrapLibMob {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: auto;
  gap: 0;
  padding: 20px 20px 38px 20px;
}
.wrapLibDeck {
  display: none;
}
.wrapAllList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .wrapLibMob {
    display: none;
  }
  .wrapLibDeck {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 32px 0 60px 0;
  }
  .wrapAllList {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapLibDeck {
    /* width: 1280px; */
    gap: 80px;
    padding: 40px 160px;
  }
  .wrapAllList {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
/* *** LIST ANY */
.titleList {
  display: flex;
  color: rgb(36, 42, 55);
  font-family: var(--font-montserrat);
  font-size: 19px;
  font-weight: 600;
  line-height: 1.21;
  text-align: left;
}
.wrapListAny {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  gap: 20px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .wrapListAny {
    width: 704px;
    gap: 24px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .wrapListAny {
    width: 1248px;
  }
}
.wrapTabList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* *** LIST START */
/* .wrapListStart {
  display: flex;
  flex-direction: column;
} */
.listStart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .listStart {
    gap: 8px;
  }
}
/* *** BOOK ITEM  */
.wrapBook {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 178px;
  list-style: none;
  /* gap: 14px; */
  padding: 20px;
  /* box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background-color: rgb(255, 255, 255); */
}
@media screen and (min-width: 768px) {
  .wrapBook {
    flex-direction: row;
    width: 704px;
    height: 62px;
    padding: 14px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapBook {
    width: 1248px;
  }
}
.bgBook {
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background-color: rgb(255, 255, 255);
}
/* *** BOOK ITEM END */
.wrapBookEnd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 274px;
  gap: 14px;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 32px 20px;
}
@media screen and (min-width: 768px) {
  .wrapBookEnd {
    flex-direction: row;
    width: 704px;
    height: 62px;
    padding: 14px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapBookEnd {
    width: 1248px;
  }
}
.wrapItemEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .wrapItemEnd {
    flex-direction: row;
    width: 200px;
    height: auto;
    gap: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapItemEnd {
    width: 250px;
  }
}

/* .wrapTitleEnd {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 14px;
} */

.wrapKeyStar {
  display: flex;
  align-items: center;
  width: 208px;
  height: 18px;
  gap: 20px;
  padding: 0;
  margin-left: 34px;
}
@media screen and (min-width: 768px) {
  .wrapKeyStar {
    width: 98px;
    margin: 0;
  }
}
/* @media screen and (min-width: 1280px) {
  .wrapTextEnd {
    width: 8%;
  }
} */
.keyBook {
  display: flex;
  width: 56px;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .keyBook {
    display: none;
  }
}
.wrapStars {
  display: flex;
  justify-content: flex-end;
  width: 98px;
  gap: 2px;
}
/* @media screen and (min-width: 768px) {
  .wrapStars {
    width: 98px;
    gap: 2px;
  }
} */
.wrapStar {
  position: relative;
  display: flex;
  width: 18px;
  height: 18px;
  color: rgb(255, 107, 8);
}
.iconStar {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.wrapBtnResume {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.btnResume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(109, 122, 141);
  cursor: pointer;
  padding: 0;
}
.btnResume:hover,
.btnResume:focus {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(71, 86, 111);
}
@media screen and (min-width: 768px) {
  .wrapBtnResume {
    padding: 0;
  }
  .btnResume {
    width: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .btnResume {
    width: 130px;
  }
}
/* *** TABLE HEADERS */
.wrapTitleTable {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTitleTable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 704px;
    height: 18px;
    /* border-top: 1px solid rgb(224, 229, 235); */
  }
}
@media screen and (min-width: 1280px) {
  .wrapTitleTable {
    width: 1248px;
  }
}
.textTab {
  display: flex;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .textTab:nth-child(1) {
    width: 50%;
  }
  .textTab:nth-child(2) {
    width: 30%;
  }
  .textTab:nth-child(3) {
    justify-content: flex-start;
    width: 10%;
    padding: 0 0 0 8px;
  }
  .textTab:nth-child(4) {
    justify-content: center;
    width: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .textTab:nth-child(3) {
    justify-content: flex-start;
    width: 10%;
    padding: 0;
    /* padding: 0 32px 0 0; */
  }
  .textTab:nth-child(4) {
    justify-content: flex-start;
    width: 10%;
    /* padding: 0 36px 0 0; */
  }
}
/* *** TABLE HEADERS END */
.textRating {
  display: flex;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
}
.wrapTabHead {
  display: none;
}
.wrapTabEnd {
  display: none;
}
.wrapTabRating {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTabHead {
    display: flex;
    width: 704px;
  }
  .wrapTabEnd {
    display: flex;
    width: 480px;
  }
  .wrapTabRating {
    display: flex;
    width: 200px;
    padding-left: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTabHead {
    display: flex;
    width: 1248px;
  }
  .wrapTabEnd {
    width: 988px;
  }
  .wrapTabRating {
    width: 260px;
    padding: 0;
  }
}
/* .wrapTabHead .textTabEnd {
  display: flex;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .textTabEnd:first-child {
    width: 33%;
  }
  .textTabEnd:nth-child(2) {
    width: 20%;
  }
  .textTabEnd:nth-child(3) {
    justify-content: center;
    width: 8%;
  }
  .textTabEnd:nth-child(4) {
    justify-content: center;
    width: 8%;
  }
  .textTabEnd:nth-child(5) {
    justify-content: center;
    width: 12%;
  }
}
@media screen and (min-width: 1280px) {
  .textTabEnd:first-child {
    width: 33%;
  }
  .textTabEnd:nth-child(2) {
    width: 20%;
  }
  .textTabEnd:nth-child(3) {
   
    width: 9%;
  }
  .textTabEnd:nth-child(4) {
   
    width: 8%;
  }
  .textTabEnd:nth-child(5) {
    
    width: 13%;
  }
} */

/* .wrapNavigate {
  display: flex;
  align-items: flex-end;
  width: 320px;
  height: 36px;
  padding: 0 20px;
}
.wrapIcon {
  display: flex;
  width: 320px;
  height: 36px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .wrapNavigate {
    display: none;
  }
  .wrapIcon {
    display: none;
  }
}
.iconNav {
  width: 36px;
  height: 36px;
  fill: rgb(255, 107, 8);
} */
/* *** FORM ADD BOOK */
.createForm {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .createForm {
    flex-wrap: wrap;
    width: 700px;
    gap: 20px;
  }
  .label:first-child {
    width: 700px;
  }
  .label:nth-child(2) {
    width: 340px;
  }
  .label:nth-child(3) {
    width: 160px;
  }
  .label:nth-child(4) {
    width: 160px;
  }
  .wrapBtnAdd:last-child {
    width: 700px;
  }
  .input {
    width: inherit;
  }
}
@media screen and (min-width: 1280px) {
  .createForm {
    justify-content: space-between;
    align-items: flex-end;
    width: 1240px;
    gap: 20px;
  }
  .label:first-child {
    width: 348px;
  }
  .label:nth-child(2) {
    width: 240px;
  }
  .wrapBtnAdd:last-child {
    width: 170px;
  }
  .input {
    width: inherit;
  }
}
.label {
  display: flex;
  flex-direction: column;
  color: rgb(137, 143, 159);
  width: 280px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
  gap: 8px;
}
.input {
  display: flex;
  width: inherit;
  height: 42px;
  border: 1px solid rgb(166, 171, 185);
  background-color: rgb(246, 247, 251);
  padding: 0 16px;
  outline: none;
}
.input:focus {
  border: none;
  box-shadow: inset 0px 1px 2px 0px rgba(29, 29, 27, 0.15);
  background-color: rgb(255, 255, 255);
}
.wrapBtnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 0 0;
}
@media screen and (min-width: 1280px) {
  .wrapBtnAdd {
    width: 170px;
    padding: 0;
  }
}
.btnCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 42px;
  color: rgb(0, 0, 0);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  border: 1px solid rgb(36, 42, 55);
  background-color: rgb(246, 247, 251);
  padding: 0;
}
.btnCreate:hover,
.btnCreate:focus {
  border: 1px solid rgb(242, 81, 55);
  background: rgb(246, 247, 251);
}

/* *** BUTTON LINK  */
.wrapBtnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 28px 0 128px 0;
}
/* .wrapBtnTrain {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 42px;
  padding: 28px 0 128px 0;
}
.btnMyTrain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 42px;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  background-color: rgb(255, 107, 8);
  border: none;
} */

/* .wrapBtnMore {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 62px;
  padding: 0 0 12px 0;
}
.btnMore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 107, 8);
  outline: transparent;
  cursor: pointer;
}
.iconMore {
  width: 18px;
  height: 18px;
  fill: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .wrapBtnMore {
    display: none;
  }
} */
