.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 8px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
    padding: 0 32px;
  }
}

/* *** SIDEBAR */
.wrapSidebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 60px;
}
/* @media screen and (min-width: 768px) {
  .wrapSidebar {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapSidebar {
    width: 1280px;
  }
} */
.wrapSideMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapSideDesk {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapSideMobile {
    display: none;
  }
  .wrapSideDesk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
.logo {
  color: rgb(36, 42, 55);
  font-size: 20px;
  line-height: 1.35;
  text-align: left;
}

.wrapLinkName {
  display: flex;
  width: 36px;
}
.wrapLinkPage {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  /* .wrapSideList {
    width: 768px;
  } */
  .wrapLinkName {
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  /* .wrapSideList {
    width: 1280px;
  } */
  .wrapLinkName {
    margin-right: 534px;
  }
}
.wrapSideItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}
.wrapIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: rgb(166, 171, 185);
  text-decoration: none;
}
.wrapIconActiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: rgb(255, 107, 8);
  background-color: rgb(245, 247, 250);
  text-decoration: none;
}
.iconSide {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.letterName {
  display: flex;
  /* width: 22px;
  height: 22px; */
  font-size: 20px;
  color: currentColor;
}
.line {
  display: flex;
  width: 2px;
  height: 32px;
  background-color: rgb(224, 229, 235);
}
