/* .trainPage {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(246, 247, 251);
} */
.wrapTrainMob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: auto;
  gap: 10px;
  padding: 0 20px;
}
.boxTrain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapTrainDeck {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTrainMob {
    display: none;
  }
  .boxTrain {
    display: none;
  }
  .wrapTrainDeck {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 768px;
    height: auto;
    padding: 32px 32px 74px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTrainDeck {
    width: 1280px;
    padding: 40px 16px 54px 16px;
  }
}
.caseTrain {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  gap: 32px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .caseTrain {
    width: 704px;
    gap: 40px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .caseTrain {
    width: 1248px;
  }
}
.caseForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .caseForm {
    width: 704px;
    gap: 40px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .caseForm {
    flex-direction: row-reverse;
    width: 1248px;
    gap: 32px;
  }
}
.wrapBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .wrapBlock {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapBlock {
    top: 264px;
    position: absolute;
    width: 928px;
    gap: 60px;
  }
}
/* *** FORM TRAIN */
.wrapFormTrain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .wrapFormTrain {
    width: 704px;
    gap: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapFormTrain {
    width: 928px;
    padding: 0;
  }
}
.titleTrain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background: rgb(177, 181, 194);
}
@media screen and (min-width: 768px) {
  .titleTrain {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .titleTrain {
    width: 928px;
  }
}
/* *** MY LIST BOOK */
.wrapListBook {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .wrapListBook {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapListBook {
    width: 928px;
  }
}
.listBook {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .listBook {
    width: 704px;
    max-height: 248px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    border-bottom: 1px solid rgb(224, 229, 235);
  }
}
@media screen and (min-width: 1280px) {
  .listBook {
    width: 928px;
    max-height: 170px;
    padding: 20px 0;
  }
}
/* *** SCROLL */
@media screen and (min-width: 768px) {
  .listBook::-webkit-scrollbar {
    width: 5px;
    height: 248px;
    background: transparent;
  }
  .listBook::-webkit-scrollbar-track {
    width: 5px;
    height: 248px;
    background: rgba(177, 181, 194, 0.25);
    padding: 20px 0;
  }
  .listBook::-webkit-scrollbar-thumb {
    width: 3px;
    height: 25%;
    background-color: rgb(177, 181, 194);
    cursor: pointer;
  }
}
/* *** ITEM  TRAIN LIST BOOK*/
.wrapItemTrain {
  display: flex;
  width: 280px;
  height: 170px;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .wrapItemTrain {
    align-items: center;
    width: 100%;
    height: 62px;
    gap: 20px;
    padding: 12px 20px 12px 0;
    border-bottom: 1px solid rgb(224, 229, 235);
  }
}
@media screen and (min-width: 1280px) {
  .wrapItemTrain {
    width: 928px;
    height: 48px;
    gap: 14px;
    border: none;
  }
}
/* *** BOOK ITEM BUTTON */
.btnTrash {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(166, 171, 185);
  border: none;
  outline: none;
  cursor: pointer;
}
.iconTrash {
  width: 22px;
  height: 22px;
  fill: currentColor;
}
/* *** ITEM EMPTY */
.wrapEmptyItem {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapEmptyItem {
    display: flex;
    width: 704px;
    height: 62px;
    align-items: center;
    gap: 14px;
    padding: 12px 20px 12px 0;
  }
}
@media screen and (min-width: 1280px) {
  .wrapEmptyItem {
    width: 928px;
    height: 48px;
  }
}
.wrapIcon {
  display: flex;
  width: 22px;
  height: 22px;
}
.iconBook {
  width: 22px;
  height: 22px;
  fill: rgb(166, 171, 185);
}
.textBook {
  display: flex;
  font-size: 14px;
  color: rgb(137, 143, 159);
  padding: 0 0 0 36px;
}
