.trainPage {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(246, 247, 251);
}
.wrapTrainMob {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: auto;
  gap: 0;
  padding: 20px 20px 38px 20px;
}
.boxTrain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapTrainDeck {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTrainMob {
    display: none;
  }
  .boxTrain {
    display: none;
  }
  .wrapTrainDeck {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 768px;
    height: auto;
    padding: 32px 32px 74px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTrainDeck {
    width: 1280px;
    padding: 40px 16px 54px 16px;
  }
}
.caseTrain {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  gap: 32px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .caseTrain {
    width: 704px;
    /* height: 965px; */
    gap: 40px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .caseTrain {
    flex-direction: row-reverse;
    width: 1248px;
    gap: 32px;
    /* height: 790px;
    padding: 40px 16px 54px 16px; */
  }
}
.wrapBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .wrapBlock {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapBlock {
    align-items: flex-end;
    gap: 24px;
  }
}
/* *** MY GOAL READ */
.wrapTarget {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 236px;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .wrapTarget {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 704px;
    height: 105px;
    padding: 0 52px 0 28px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTarget {
    flex-direction: column;
    width: 288px;
    height: 304px;
    padding: 0;
  }
}
.titleGoal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background: rgb(177, 181, 194);
}
@media screen and (min-width: 1280px) {
  .titleGoal {
    width: 288px;
  }
}
.countTarget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 236px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .countTarget {
    height: 78px;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .countTarget {
    height: 236px;
    gap: 20px;
  }
}
.wrapCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 148px;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .wrapCount {
    width: 120px;
    height: 78px;
    gap: 4px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapCount {
    width: 100px;
    height: 148px;
    gap: 14px;
  }
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: rgb(9, 30, 63);
  font-size: 45px;
  font-weight: 700;
  line-height: 0.8;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(36, 42, 55, 0.15);
  background-color: rgb(245, 247, 250);
}
.textCounter {
  display: flex;
  width: 66px;
  height: 34px;
  color: rgb(137, 143, 159);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .counter {
    width: 120px;
    height: 60px;
    gap: 4px;
  }
  .textCounter {
    justify-content: center;
    width: 120px;
    height: 14px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .counter {
    width: 100px;
    height: 100px;
    gap: 0;
  }
  .textCounter {
    justify-content: center;
    width: 66px;
    height: 34px;
    font-size: 14px;
  }
}
/* *** FORM TRAIN */
.wrapFormTrain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /* width: 320px; */
  /* height: 588px; */
  padding: 0;
}
@media screen and (min-width: 768px) {
  .wrapFormTrain {
    width: 704px;
    height: 196px;
    gap: 28px;
    /* padding: 0; */
  }
}
@media screen and (min-width: 1280px) {
  .wrapFormTrain {
    width: 928px;
    height: 192px;
    gap: 24px;
    padding: 0;
  }
}
/* .wrapChooseBook {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.titleTrain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
  background: rgb(177, 181, 194);
}
@media screen and (min-width: 768px) {
  .titleTrain {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .titleTrain {
    width: 928px;
  }
}
.formAddBook {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .formAddBook {
    flex-direction: row;
    flex-wrap: wrap;
    width: 704px;
    height: 108px;
    gap: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .formAddBook {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 928px;
    height: 108px;
  }
}
.labelDate {
  position: relative;
  display: flex;
  width: 280px;
  height: 42px;
}
.inputDate {
  display: flex;
  width: inherit;
  height: 42px;
  color: rgb(36, 42, 55);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
  border: 1px solid rgb(166, 171, 185);
  background-color: rgb(246, 247, 251);
  padding: 0 30px 0 40px;
}
.inputDate:placeholder-shown {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
  color: rgb(166, 171, 185);
}
.wrapIconCldr {
  left: 12px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 20px;
  height: 42px;
  color: rgb(166, 171, 185);
}
.iconCldr {
  width: 20px;
  height: 20px;
  stroke: currentColor;
}
.btnOpen {
  right: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 24px;
  height: 42px;
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  padding: 0;
}
.iconOpen {
  width: 22px;
  height: 22px;
  fill: rgb(36, 42, 55);
}
.labelSelect {
  position: relative;
  display: flex;
  width: 280px;
  height: 42px;
}
.inputSelect {
  display: flex;
  width: 280px;
  height: 42px;
  color: rgb(36, 42, 55);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
  outline: rgb(255, 255, 255);
  border: none;
  box-shadow: inset 0px 1px 2px 0px rgba(29, 29, 27, 0.15);
  background-color: rgb(255, 255, 255);
  padding: 0 30px 0 16px;
}
.inputSelect:placeholder-shown {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
  color: rgb(166, 171, 185);
}
@media screen and (min-width: 768px) {
  .labelSelect {
    width: 484px;
  }
  .inputSelect {
    width: 484px;
  }
}
@media screen and (min-width: 1280px) {
  .labelSelect {
    width: 716px;
  }
  .inputSelect {
    width: 716px;
  }
}
.wrapBtnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 0 0;
}
@media screen and (min-width: 768px) {
  .wrapBtnAdd {
    width: 170px;
    padding: 0;
  }
}
.btnCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 42px;
  color: rgb(0, 0, 0);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  border: 1px solid rgb(36, 42, 55);
  background-color: rgb(246, 247, 251);
  padding: 0;
}
.btnCreate:hover,
.btnCreate:focus {
  border: 1px solid rgb(242, 81, 55);
  background: rgb(246, 247, 251);
}
/* *** MY LIST BOOK */
.wrapListBook {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .wrapListBook {
    width: 704px;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .wrapListBook {
    width: 928px;
    height: auto;
    border-top: 1px solid rgb(224, 229, 235);
  }
}
.listBook {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(224, 229, 235);
}
@media screen and (min-width: 768px) {
  .listBook {
    width: 704px;
    height: 248px;
    overflow-y: scroll;
    /* scrollbar-color: rgb(177, 181, 194) rgba(177, 181, 194, 0.25);
    scrollbar-width: thin; */
    overflow-x: hidden;
    border-bottom: 1px solid rgb(224, 229, 235);
    /* border-top: 1px solid rgb(224, 229, 235); */
  }
}
@media screen and (min-width: 1280px) {
  .listBook {
    width: 928px;
    height: 170px;
    gap: 14px;
    padding: 20px 0;
  }
}
/* *** SCROLL */
.listBook::-webkit-scrollbar {
  width: 5px;
  height: 170px;
  background: transparent;
}
.listBook::-webkit-scrollbar-track {
  width: 5px;
  background: rgba(177, 181, 194, 0.25);
}
.listBook::-webkit-scrollbar-thumb {
  width: 5px;
  height: 45px;
  background: rgb(177, 181, 194);
}
/* *** ITEM */
.wrapItemTrain {
  display: flex;
  width: 280px;
  height: 170px;
  border-bottom: 1px solid rgb(224, 229, 235);
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .wrapItemTrain {
    align-items: center;
    width: 704px;
    height: 62px;
    gap: 20px;
    padding: 12px 20px 12px 0;
    border-top: 1px solid rgb(224, 229, 235);
  }
}
@media screen and (min-width: 1280px) {
  .wrapItemTrain {
    width: 928px;
    height: 22px;
    gap: 14px;
    border: none;
    /* padding: 12px 20px 12px 0; */
  }
}
/* *** BOOK ITEM BUTTON */
.btnTrash {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(166, 171, 185);
  border: none;
  outline: none;
  cursor: pointer;
}
.iconTrash {
  width: 22px;
  height: 22px;
  fill: currentColor;
}
/* *** ITEM EMPTY */
.wrapEmptyItem {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapEmptyItem {
    display: flex;
    width: auto;
    height: 62px;
    align-items: center;
    gap: 14px;
    padding: 12px 20px 12px 0;
    border-top: 1px solid rgb(224, 229, 235);
  }
}
@media screen and (min-width: 1280px) {
  .wrapEmptyItem {
    height: 22px;
    border: none;
  }
}
.wrapIcon {
  display: flex;
  width: 22px;
  height: 22px;
}
.iconBook {
  width: 22px;
  height: 22px;
  fill: rgb(166, 171, 185);
}
.textBook {
  display: flex;
  font-size: 14px;
  color: rgb(137, 143, 159);
  /* flex-direction: column;
  gap: 8px; */
  padding: 0 0 0 36px;
}
/* *** TITLE TABLE */
.wrapTitleTable {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTitleTable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 704px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTitleTable {
    width: 880px;
  }
}
.textTab {
  display: flex;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
}
.textTab:first-child {
  width: 300px;
}
.textTab:nth-child(2) {
  width: 200px;
}
.textTab:nth-child(3) {
  width: 80px;
}
.textTab:nth-child(4) {
  width: 80px;
}
@media screen and (min-width: 1280px) {
  .textTab:first-child {
    width: 396px;
  }
  .textTab:nth-child(2) {
    width: 264px;
  }
  .textTab:nth-child(3) {
    width: 132px;
  }
  .textTab:nth-child(4) {
    width: 136px;
  }
}

/* *** BUTTON LINK */
.wrapBtnLink {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

/* @media screen and (min-width: 768px) {
  .wrapEmpty {
    justify-content: center;
    width: 704px;
    height: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapEmpty {
    width: 928px;
  }
} */
/* .wrapBook {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 168px;
  gap: 8px;
  border-top: 1px solid rgb(224, 229, 235);
  border-bottom: 1px solid rgb(224, 229, 235);
  padding: 32px 0 32px 0;
}
@media screen and (min-width: 768px) {
  .wrapBook {
    justify-content: center;
    width: 704px;
    height: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapBook {
    width: 928px;
  }
}
.wrapTitleBook {
  display: flex;
}
.wrapIcon {
  display: flex;
  width: 22px;
  height: 22px;
}
.iconBook {
  width: 22px;
  height: 22px;
  fill: rgb(166, 171, 185);
}
.wrapText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .wrapText {
    display: none;
  }
}
.textBook {
  display: flex;
  height: 22px;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  text-indent: 28px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
} */
/* *** MY CHART */
.wrapChart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  height: 290px;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.25);
  background-color: rgb(255, 255, 255);
  padding: 24px 20px 40px 20px;
}
@media screen and (min-width: 768px) {
  .wrapChart {
    width: 704px;
    height: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapChart {
    width: 928px;
  }
}
.wrapTitleChart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 236px;
}
.textChart {
  display: flex;
  color: rgb(36, 42, 55);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
}
.countChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: rgb(245, 247, 250);
  color: rgb(36, 42, 55);
  font-size: 12px;
  font-weight: 600;
  line-height: 3.16;
  text-align: left;
  text-transform: uppercase;
}
