/* *** TABLE HEADERS */
.wrapTable {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 704px;
    height: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTable {
    width: 1248px;
  }
}
.textTab {
  display: flex;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .textTab:nth-child(1) {
    width: 50%;
  }
  .textTab:nth-child(2) {
    width: 31%;
  }
  .textTab:nth-child(3) {
    width: 9%;
  }
  .textTab:nth-child(4) {
    width: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .textTab:nth-child(1) {
    width: 50%;
  }
  .textTab:nth-child(2) {
    width: 29%;
  }
  .textTab:nth-child(3) {
    width: 11%;
  }
  .textTab:nth-child(4) {
    width: 10%;
  }
}
/* *** TABLE HEADERS END */
.textTabEnd {
  display: flex;
  color: rgb(137, 143, 159);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: left;
}
.wrapTabEnd {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTabEnd {
    display: flex;
    width: 704px;
  }
  .textTabEnd:nth-child(1) {
    width: 35%;
  }
  .textTabEnd:nth-child(2) {
    width: 21%;
  }
  .textTabEnd:nth-child(3) {
    width: 7%;
  }
  .textTabEnd:nth-child(4) {
    width: 10%;
  }
  .textTabEnd:nth-child(5) {
    width: 27%;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTabEnd {
    width: 1248px;
  }
  .textTabEnd:nth-child(1) {
    width: 40%;
  }
  .textTabEnd:nth-child(2) {
    width: 23%;
  }
  .textTabEnd:nth-child(3) {
    width: 8%;
  }
  .textTabEnd:nth-child(4) {
    width: 8%;
  }
  .textTabEnd:nth-child(5) {
    width: 21%;
  }
}
/* *** TABLE TRAIN */
.wrapTableTrain {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapTableTrain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 704px;
    height: 41px;
    border-top: 1px solid rgb(224, 229, 235);
    border-bottom: 1px solid rgb(224, 229, 235);
  }
  .tabTrain {
    display: flex;
    color: rgb(137, 143, 159);
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    text-align: left;
  }
  .tabTrain:nth-child(1) {
    width: 46%;
  }
  .tabTrain:nth-child(2) {
    width: 30%;
  }
  .tabTrain:nth-child(3) {
    width: 10%;
  }
  .tabTrain:nth-child(4) {
    width: 14%;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTableTrain {
    width: 928px;
  }
  .tabTrain:nth-child(1) {
    width: 47%;
  }
  .tabTrain:nth-child(2) {
    width: 28%;
  }
  .tabTrain:nth-child(3) {
    width: 10%;
  }
  .tabTrain:nth-child(4) {
    width: 15%;
  }
}
